
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degree</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
</head>
<body>
    <p class="para">Choose Your BSC Cource</p>
 <div class="container">
    <button><a href="./foundation_grading.html">Software Testing</a></button>
    <button><a href="./foundation_grading.html">Software Engeeniring</a></button>
    <button><a href="./foundation_grading.html">Deep Learning</a></button>
    <button><a href="./foundation_grading.html">AI</a></button>
    <button><a href="./foundation_grading.html">Proffesional Groth</a></button>
 </div>
</body>
</html>
