
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diploma</title>
</head>
<link rel="stylesheet" href="./style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<style>
    button{
        padding-left: 30px;
        padding-right: 30px;
    }
</style>
<body>
    <p class="para">Choose Your Diploma Cource</p>
    <div class="container">
        <button><a href="./foundation_grading.html">MAD I</a></button>
    <button><a href="./foundation_grading.html">MAD II</a></button>
    <button><a href="./foundation_grading.html">DBMS</a></button>
    <button><a href="./foundation_grading.html">PDSA</a></button>
    <button><a href="./foundation_grading.html">JAVA</a></button>
    <button><a href="./foundation_grading.html">SC</a></button>
    <button><a href="./foundation_grading.html">MLF</a></button>
    <button><a href="./foundation_grading.html">MLT</a></button>
    <button><a href="./foundation_grading.html">MLP</a></button>
    <button><a href="./foundation_grading.html">BDM</a></button>
    <button><a href="./foundation_grading.html">BA</a></button>
    <button><a href="./foundation_grading.html">TDS</a></button>
    </div>
</body>
</html>
