{% extends 'index.html' %}

{% block title %}
    IITM - Diploma
{% endblock title %}
{% block header %}
    
{% endblock header %}

{% block container %}
<div class="container">
    <a href="iitm-courses/foundation" class="card">
        <div class="card-content">
            <h2>Foundation</h2>
            <p>Visit this link to learn more about Foundation.</p>
        </div>
    </a>
    <a href="iitm-courses/diploma" class="card">
        <div class="card-content">
            <h2>Diploma</h2>
            <p>Visit this link to learn more about Diploma.</p>
        </div>
    </a>
    <a href="iitm-courses/bsc" class="card">
        <div class="card-content">
            <h2>B.Sc.</h2>
            <p>Visit this link to learn more about B.Sc.</p>
        </div>
    </a>
    <a href="iitm-courses/bs" class="card">
        <div class="card-content">
            <h2>B.S.</h2>
            <p>Visit this link to learn more about B.S.</p>
        </div>
    </a>
</div>
{% endblock container %}