{% extends 'index.html' %}

{% block title %}
    IITM - Diploma
{% endblock title %}
{% block header %}
    
{% endblock header %}

{% block container %}
<div class="container">
    {% for course in courses %}
    {% if course.level == "Diploma" %}
    <a href="diploma/{{ course.id }}" class="card">
        <div class="card-content">
            <h2>{{ course.name }}</h2>
            <p> Course Type: {{ course.type }}</p>
            <p>Course Level: {{ course.level }}</p>
            <p>Click on this card to learn more about {{ course.name }}.</p>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock container %}