{% extends 'index.html' %}
{% block header %}
    
{% endblock header %}
{% block container %}
    <div class="course-container">
        <div class="course-header">
            <div class="course">
                <h2>{{ course.name }}</h2>
                <p>Course Type: {{ course.type }}</p>
                <p>Course Level: {{ course.level }}</p>
            </div>
            <div class="add-checklist">
                <button>Add Checklist</button>
            </div>
        </div>
        <div class="checklist">
            <h3>Checklist</h3>
            <ul>
                {% for checklist in checklists %}
                    <li>{{ checklist.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock container %}